.gg-applist .thumbnail {
    width: 50px;
    float: left;
}

.gg-applist img.appicon{
    width: 50px;
    float: left;
    margin-right:10px;
}
.gg-applist a.apptitle {
    background: #f3f3f3;
    display: block;
    text-decoration: none;


}

.gg-applist .lt {
    
}
ul.gg-applist  {
   
}
.gg-applist li{
line-height: 50px;
    height: 50px;
    clear: both;
        list-style: none;
            overflow: hidden;
}


